main {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 50px 250px 40px 70px 145px 40px 40px;
  grid-template-columns: 100vw;
  justify-items: right;
}

main ul {
  font-family: arial, sans-serif;
  font-size: 13px;
}

ul li {
  display: inline;
}

li a {
  text-decoration: none;
}

.header ul li {
  padding: 7px;
}

.header ul li a {
  color: rgba(0, 0, 0, 0.87);
  line-height: 28px;
}

li:hover a {
  text-decoration: underline;
}

input {
  font-family: arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  width: 500px;
  height: 40px;
  border-radius: 0;
  border-top-style: none;
  border-left-style: none;
  padding: 0 15px;
}

.buttons {
  padding-top: 30px;
  justify-self: center;
}

.buttons input {
  width: auto;
  height: 37px;
  border-style: none;
  color: #797a79;
  background-color: #f8f8f8;
  border-radius: 2px;
}

.buttons input:hover {
  color: black;
  background-color: #f8f8f8;
  border: 1px solid rgb(198, 198, 198);
}

.header {
  padding-right: 20px;
  padding-top: 10px;
}

.logo {
  align-self: end;
  justify-self: center;
}

.input {
  align-self: end;
  justify-self: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

.input:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.language {
  padding-top: 30px;
  justify-self: center;
  font-family: arial, sans-serif;
  font-size: 13px;
}

.language a {
  text-decoration: none;
}

.language a:hover {
  text-decoration: underline;
}

.footer {
  background-color: rgb(243, 243, 243);
  font-family: arial, sans-serif;
  padding-top: 12.5px;
  justify-self: start;
  width: 100vw;
  border-top: 1px solid #e4e4e5;
}

.lithuania {
  font-size: 14px;
  color: rgb(102,102,102);
}

.lithuania p {
  padding-left: 27px;
}

.bottom-nav ul li a {
  color: rgb(102, 102, 102);
  padding-right: 20px;
}

.bottom-nav ul li:first-child {
  padding-left: 27px;
}

.right {
  float:right;
}

.bottom-nav ul li:last-child {
  padding-right: 27px;
}

/*
.footer {
  align-self: center;
  background-color: rgb(243, 243, 243);
  font-family: arial, sans-serif;
  font-size: 13px;
  width: 100vw;
}

.lithuania {
  justify-self: left;
  border-bottom: 1px solid rgb(207, 207, 207);
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  border-top: 1px solid rgb(207, 207, 207);
  padding: 12px 0 12px 27px;
}

.bottom-nav {
  justify-self: left;
  padding: 7px 0 7px 20px;
}

.bottom-nav ul li a {
  color: rgba(0, 0, 0, 0.54);
}

.bottom-nav ul li {
  float: left;
}

.bottom-nav ul li:last-child {
  float: right;
}
*/
#google-logo {
  width:auto;
  height: auto;
  padding-bottom: 20px;
}

#google-apps-icon {
  width: 23px;
  height: 23px;
  position: relative;
  top: 6px;
  opacity: 0.6;
}

#google-apps-icon:hover {
  opacity: 0.8;
}

#sign-in-button {
  border: 1px solid rgb(66, 133, 244);
  border-radius: 2px;
  background: rgb(66, 133, 244);
  color: rgb(255, 255, 255);
  display: inline-block;
  font-weight: 700;
  margin: 5px 0;
  padding: 0 12px;
  outline: none;
  text-decoration: none;
}
