main {
  display: grid;
  width: auto;
  height: auto;
  grid-template-rows: 50px 250px 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 100%;
  justify-items: right;
}

/*main div {
  border: 1px solid red;
}*/

main ul {
  font-family: arial, sans-serif;
  font-size: 13px;
  justify-items: right;
}

ul li {
  display: inline;
  padding: 7px;
}

li a {
  color: rgba(0, 0, 0, 0.87);
  line-height: 28px;
  text-decoration: none;

}

li:hover a {
  text-decoration: underline;
}

input {

  font-family: arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  width: 500px;
  height: 40px;
  border-radius: 0;
  border-top-style: none;
  border-left-style: none;
  padding: 0 15px;
}

.buttons {
  padding-top: 30px;
  justify-self: center;
}

.buttons input {
  width: auto;
  height: 37px;
  border-style: none;
  color: #797a79;
  background-color: #f8f8f8;
  border-radius: 2px;
}

.buttons input:hover {
  color: black;
  background-color: #f8f8f8;
  border: 1px solid rgb(198, 198, 198);
}

.header {
  padding-right: 20px;
  padding-top: 10px;
}

.logo {
  align-self: end;
  justify-self: center;
}

.input {
  align-self: end;
  justify-self: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

.input:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

#google-logo {
  width:auto;
  height: auto;
  padding-bottom: 10px;
}

#google-apps-icon {
  width: 23px;
  height: 23px;
  position: relative;
  top: 6px;
  opacity: 0.6;
}

#google-apps-icon:hover {
  opacity: 0.8;
}

#sign-in-button {
  border: 1px solid rgb(66, 133, 244);
  border-radius: 2px;
  background: rgb(66, 133, 244);
  color: rgb(255, 255, 255);
  display: inline-block;
  font-weight: 700;
  margin: 5px 0;
  padding: 0 12px;
  outline: none;
  text-decoration: none;
}
